<ng-container *ngIf="path; else btnTemplate">
  <a [routerLink]="path"
     [ngClass]="['btn', 'btn-' + variant, fullWidth ? 'btn-full' : '']"
     [class.disabled]="disabled">
    <span>{{ label }}</span>
    <svg *ngIf="showIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
  </a>
</ng-container>

<ng-template #btnTemplate>
  <button [type]="type"
          [disabled]="disabled"
          (click)="handleClick($event)"
          [ngClass]="['btn', 'btn-' + variant, fullWidth ? 'btn-full' : '']">
    <span>{{ label }}</span>
    <svg *ngIf="showIcon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
  </button>
</ng-template>
